body {
  font-family: Georgia, serif;
  background: linear-gradient(to right, #caffbf, #b7efc5);
  text-align: center;
  padding: 40px;
}

h2 {
  color: #004b23;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

input[type="text"] {
  margin: 5px 0;
  padding: 6px;
  border: 2px solid #004b23;
  border-radius: 6px;
}

button {
  background: #38b000;
  color: white;
  border: none;
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #004b23;
}
