body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #a2d2ff, #bde0fe);
  text-align: center;
  padding: 50px;
}

h1 {
  color: #023047;
}

p {
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 30px 0;
}

/* Tombol link */
a {
  text-decoration: none;
  background: #219ebc;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  transition: 0.3s;
  display: inline-flex; /* biar svg & teks sejajar */
  align-items: center; /* sejajarkan secara vertikal */
  gap: 10px; /* jarak antara svg dan teks */
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  background: #023047;
}

/* SVG di dalam link */
a svg {
  display: inline-block;
  vertical-align: middle;
}
