body {
  font-family: Verdana, sans-serif;
  background: radial-gradient(circle, #ffafcc, #ffc8dd);
  text-align: center;
  padding: 40px;
}

h2 {
  color: #590d22;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"] {
  margin: 5px 0;
  padding: 5px;
  border: 2px solid #590d22;
  border-radius: 6px;
}

button {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 8px 20px;
  margin-top: 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #590d22;
}
